Package: com.mikiyan1978.musicapp
Name: musicapp
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: mikiyan1978 <mikiyan1978@gmail.com>
Author: mikiyan1978 <mikiyan1978@gmail.com>
Section: Utilities
