Package: com.mikiyan1978.respaddpref
Name:  respaddpref
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), net.limneos.libbulletin
Section: Tweaks
Version: 1.0
Architecture: iphoneos-arm
Depiction: 
Tag: purpose::extension
Icon: https://kisaragiray.github.io/repo/info/line.png
Author: mikiyan1978 <mikiyan1978@gmail.com>
Maintainer: mikiyan1978 <mikiyan1978@gmail.com>
