Package: com.mikiyan1978.alertapp
Name: PowerControllerApp 14
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), net.limneos.libbulletin
Architecture: iphoneos-arm
Description: Respring、uicache、セーフモード、消してしまったCydiaのインストールなどが行えます。
Maintainer: mikiyan1978 <mikiyan1978@gmail.com>
Author: mikiyan1978 <mikiyan1978@gmail.com>
Section: Utilities
Version: 4.0
Installed-Size: 1304
